node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*


sample
sample-*
implementation.md
*-00*
src/routes/projects/\[pid]/uploads/upload-sample
src/routes/projects/\[pid]/uploads/pdf-viewer-sample
